html, body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

h1, h2 {
  text-align: center;
  font-family: 'Julius Sans One', sans-serif;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

h2, p {
  color: white;
}

/* ----------------------------- Name --------------------------------------- */
.section-one {
  background-image: linear-gradient(#007991, #78ffd6);
  height: 700px;
  width: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  margin: 0;
}

/* ----------------------------- Nav ---------------------------------------- */

.section-one nav.flex-container {
  display: flex;
  justify-content: center;
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  font-size: 24px;
  font-family: 'Quicksand', sans-serif;
}

a {
  color: white;
  text-decoration: none;
  letter-spacing: 1px;
  word-spacing: 2em;
  padding-right: 20px;
}

a:hover {
  cursor: pointer;
  color: #78ffd6;
  text-decoration: underline;
}

/* ----------------------------- Header ---------------------------------------- */

.section-one header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 400px;
}

.name {
  margin: 0;
  font-size: 96px;
  color: white;
  vertical-align: middle;
}

.jobTitle {
  margin: 0;
  font-size: 36px;
  color: white;
  vertical-align: middle;
}

/* ---------------------------- Projects ------------------------------------ */
.section-two {
  background-image: white;
  /*height: 700px;*/
  width: 100%;
  /*clip-path: polygon(00 10%, 100% 00, 100% 90%, 0 100%);*/
  /*             top left\top right\bottom right\bottom left*/
}

.section-two {
  margin-bottom: 40px;
}

.projects {
  padding-top: 5%;
  padding-bottom: 5%;
  font-size: 36px;
}

/* ----------------------------- About -------------------------------------- */
.section-three {
  background-image: linear-gradient(#007991, #78ffd6);
  font-size: 25px;
  clip-path: polygon(00 10%, 100% 00, 100% 90%, 0 100%);
  /*             top left\top right\bottom right\bottom left*/
  padding: 5%;
  position: inherit;
}

.about {
  padding-top: 5%;
  color: white;
  font-size: 36px;
}

.aboutText {
  font-family: 'Quicksand', sans-serif;
  padding: 100px;
  font-size: 26px;
  margin: 3px;
}

/* ----------------------------- Contact------------------------------------- */
.section-four {
  background-image: white;
  height: 700px;
  width: 100%;
  clip-path: polygon(00 10%, 100% 00, 100% 90%, 0 100%);
  /*             top left\top right\bottom right\bottom left*/
}

.section-four .flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contact {
  text-align: center;
  height: 10px;
  padding: 50px;
  font-size: 36px;
}

.phone, .email, .github, .linkedin {
  padding: 10px;
}

.section-four .icons {
  padding: 40px;
}

.section-four .hello {
  padding: 5px;
}

/* ----------------------------- Footer ------------------------------------- */
footer {
  background-color: #007991;
  display: block;
  padding-top: 2%;
  text-align: center;
  font-family: 'Julius Sans One', sans-serif;
  color: white;
  text-shadow: 1px 2px 1.5px rgba(0,0,0,0.2);
}

.katrina {
  font-family: 'Julius Sans One', sans-serif;
  font-family: 'Sacramento', cursive;
  font-family: 'Tangerine', cursive;
  font-weight: bold;
  font-size: 36px;
}
